version: '2.1'
services:
  postgres:
    restart: always
    image: postgres:9.6-alpine
    environment:
      POSTGRES_PASSWORD: my_password
      POSTGRES_USER: andela
      POSTGRES_DB: location
    healthcheck:
      test: nc -z 0.0.0.0 5432
  pubsub:
    image: knarz/pubsub-emulator
    ports:
      - "8085"
    restart: always
    healthcheck:
      test: nc -z 0.0.0.0 8085
  location-svc:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: us.gcr.io/microservices-kube/location
    env_file: ./shared/compose/env_files/location.env
    environment:
        NODE_ENV: development
        DATABASE_URL: postgres://andela:my_password@200.0.0.1:5432/location
        SERVICE_URL: 0.0.0.0:50050
        PUBSUB_EMULATOR_HOST: pubsub:8085
        GCLOUD_PROJECT: microservices-kube
    ports:
    - "50050:50050"
    volumes:
    - .:/usr/src/app
    command: >
        sh -c '
        if test -d node_modules;
        then
          echo node_modules_exists ;
        else
          cp -a /tmp/node_modules /usr/src/app/;
        fi && npm run start-dev'
    depends_on:
      postgres:
        condition: service_healthy
      pubsub:
        condition: service_healthy
